@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.formio-label-dark { color: #fff; font-weight: bold; }
.formio-input-dark { background: #222; color: #fff; border: 1px solid #555; }
.formio-button-dark { background: #444; color: white; }
.formio-textarea-dark { background: #222; color: #fff; border: 1px solid #555; }
.formio-select-dark { background: #222; color: #fff; border: 1px solid #555; }

.formio-label-default { color: #171717; }
.formio-input-default { background: #fff; color: #171717; border: 1px solid #ccc; }
.formio-button-default { background: #ddd; color: #222; }
.formio-textarea-default { background: #fff; color: #171717; border: 1px solid #ccc; }
.formio-select-default { background: #fff; color: #171717; border: 1px solid #ccc; }
